<header>
    <h2><a href="/<%= student["roll-number"] %>">ATTEND-ME</a></h2>
    <div>
      <h3><%= capitalizeEachWord(student["name"]) %></h3>
      <a href="/logout">Logout</a>
    </div>
  </header>